.wrapper{
  display: flex;
  justify-content: center;
  height: clamp(25%, 50%, 50%);
  *{
    margin:0.75em;
  }
}
.club-title{
  font-size: 1.2rem;
  margin: 1em;
}
// .club-container{
//   display: flex;
//   flex-direction: column;
//   justify-content: start;

// }

@media only screen and (max-width: 1024px) {
  .wrapper{
    display: flex;
    justify-content: center;
    height: clamp(25%, 50%, 50%);
    flex-wrap: wrap;
    *{
      margin:0.5em;
    }
  }
}