.Clubs-container{
  padding: 4em 7em;
  height:3em;
  background-image: var(--image);
  background-position: center center;
  background-size: 100% 100%;
  filter: drop-shadow(0em 0.25em 0.25em rgba(0, 0, 0, 0.25));
  border-radius: 2em;
}
.text-container{
  visibility: hidden;
}
.club-hover:hover{
  .Clubs-container{
    box-shadow: inset 0 0 0 70em rgba(0,0,0,.5);
    filter: blur(0.1em);
  }
}
.club-text{
  position: absolute;
  width:11em;
  // margin: 1em;
  padding: 0.5em;
  z-index: 1;
  font-size: 1rem;
  font-weight: bolder;
  color:white;
  text-align: center;
}

#1 .club-text{
  font-size: 11px;
}

@media only screen and (max-width: 1024px) {
  .Clubs-container{
    padding: 4em 7em;
    height:3em;
    background-image: var(--image);
    background-position: center center;
    background-size: 100% 100%;
    filter: drop-shadow(0em 0.25em 0.25em rgba(0, 0, 0, 0.25));
    border-radius: 2em;
  }
  .Clubs-container:hover{
    filter: drop-shadow(0em 0.25em 0.25em rgba(130, 57, 213, 1));
  }
}