.icon-title{
  font-size: 1.2rem;
  margin: 3em 1em 0em 1em;
  // position: absolute;
}
.icon-wrapper{
  display: flex;
  justify-content: center;
  margin:0.5em;
}

@media only screen and (max-width: 1024px) {
  .icon-wrapper{
    *{
      margin:0.5em 0.3em;
    }
  }
  // .icon-title{
  //   margin: 6em 1em 0em 1em;
  // }
}