.icon-title{
  font-size: 1.2rem;
  margin: 1em;
}
.icon-wrapper{
  display: flex;
  justify-content: center;
  margin:0.5em;
}


@media only screen and (max-width: 1024px) {
  .icon-wrapper{
    *{
      margin:0.5em 0.3em;
    }
  }
}