@import '../styles/themes.scss';
.icon-title{
  font-size: 1.2rem;
  margin: 3em 1em 0em 1em;
  // position: absolute;
  border-bottom: 0.15em solid $grey;
  font-family: 'Barlow', sans-serif;
  color: $purple;
}
.icon-wrapper{
  display: flex;
  justify-content: center;
  margin:0.5em;
  *{
    box-sizing: content-box;
  }
}

@media only screen and (max-width: 1024px) {
  .icon-wrapper{
    *{
      margin:0.5em 0.3em;
    }
  }
  // .icon-title{
  //   margin: 6em 1em 0em 1em;
  // }
}