@import '../styles/themes.scss';
.nav-container{
  font-size: 1rem;
  // margin: 1em 0em;
  margin: 1em;
  position: relative;
  white-space: nowrap;
  font-family: 'Barlow', sans-serif;

  .line-container{
    display: grid;
    place-items: center;
    .nav-line{
      border-top:0.15em solid $grey;
      width: 100%;
    }
  }
  .left-container{
    // position: absolute;
    height:3em;
    display: flex;
    margin: 0.5em 1em;
    color: $purple;
    z-index: 2;

    .site-title{
      margin: 0.2em 1em;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: 'Barlow', sans-serif;
    }
  }
}
.link-container{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  margin: 0.5em;
  top:0;
  right: 0;
}
.navigation{
  margin:1em;
}
.nav-routes {
  text-decoration: none;
  color: $grey;
}
.nav-routes:hover {
  text-decoration: none;
  color: $lightPurple;
}
.nav-routes.selected{
  // color: $black;
  color: $purple;
  font-weight: bolder;
}
.icon {
  right:0;
  top: 0;
  position: absolute;
  display: none;
  width: 1.5em;
  margin:1.2em;
}
.home-icon, .home-icon:hover{
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  .title-icon{
    display:none;
  }
  .nav-container>.left-container>.site-title{
    // margin: 0.5em 0em;
    font-weight: bold;
  }
  .nav-container .left-container{
    margin: 0.5em 0em;
  }
  .nav-container .link-container{
    display: none;
  }
  .icon {
    float: right;
    display: block;
  }
  .navigation{
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-container.responsive .link-container{
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    z-index: 3;
    margin: 3em 0em;
  }
  .nav-container.responsive .icon{
    float: right;
    background-color: $bgcolor;
    z-index: 2;
  }
  .nav-container.responsive .left-container{
    margin: 0.8em 0em;
  }
  .nav-container.responsive div{
    float: none;
    display: block;
    background-color: $bgcolor;
  }
}