.panel-container{
  display: grid;
  place-items: center;
  font-size:1rem;
  box-sizing: content-box;

  .panel-title{
    padding:1em;
    font-size:1.2rem;
  }
  .panel-children{
    width: 15em;
    display: none;
  }
  .panel-children.shown{
    // display:block;
    display: grid;
    place-items: center;
  }
  .panel-icon{
    width: 0.75em;
  }
  .accordian{
    display: flex;
  }
  .panel-cut{
    margin: 0em 1em 1em 1em;
    width: 120%;
    display: grid;
    place-items: center;
  }
}