.admin_container{
    width:100%;
    height: 400px;
    border: 1px solid black;
    display:flex;
    justify-content: center;
}
.Dropdown-root{
    width:100%;
}

.admin_left_container{
    width:50%;
    /* border: 1px solid pink; */
    padding: 15px;
    padding-top:25px;
}
.admin_right_container{
    width:50%;
    /* border: 1px solid blue; */
    display:flex;
    flex-direction: column;
    padding: 15px;
}
.react-date-picker{
    margin-left:10px;
}

.react-time-picker{
    margin-left:10px;
}

.inner_container{
    margin-top:10px;
}

.error_container{
    text-align: center;
    color: red;
    font-size: 20px;
}