$black: #000000;
$grey: #C2CEDB;
$purple: #A64AC9;
$lightPurple: #BA9BCE;
$bgcolor: #F8F9FC;
$gold: #E5DF88;
$white: #F8F9FC;

:export{
  black: $black;
  grey: $grey;
  purple: $purple;
  lightPurple: $lightPurple;
  bgcolor: $bgcolor;
  gold: $gold;
  white: $white;
}