@import '../styles/themes.scss';
.Clubs-container{
  padding: 4em 7em;
  height:3em;
  background-image: var(--image);
  background-position: center center;
  background-size: 100% 100%;
  filter: drop-shadow(0em 0.25em 0.25em rgba(0, 0, 0, 0.25));
  border-radius: 2em;
}
.text-container{
  visibility: hidden;
}
.club-hover:hover{
  .Clubs-container{
    box-shadow: inset 0 0 0 70em rgba(0,0,0,.5);
    filter: blur(0.1em);
  }
}
.club-text{
  position: absolute;
  width:15em;
  padding: 0.5em;
  z-index: 1;
  font-size: 0.8rem;
  font-weight: bolder;
  color:white;
  text-align: center;
  overflow:hidden;

  .card-title{
    font-size:0.8rem;
    padding:0.1em;
    margin:0;
    top:0;
  }
  hr.divider{
    border-top: 0.05em solid white; 
    margin:0.5em;
  }
  .card-description{
    height: 4.5em;
    overflow: hidden;
  }
}
.club-link>a{
  color: $lightLink;
}
.club-link>a:hover{
  color: $purple;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .Clubs-container{
    padding: 4em 7em;
    height:3em;
    background-image: var(--image);
    background-position: center center;
    background-size: 100% 100%;
    filter: drop-shadow(0em 0.25em 0.25em rgba(0, 0, 0, 0.25));
    border-radius: 2em;
  }
  .text-container{
    visibility: visible !important;
  }
  .club-hover{
    .Clubs-container{
      box-shadow: inset 0 0 0 70em rgba(0,0,0,.5);
      filter: blur(0.1em);
    }
  }
}