@import '../styles/themes.scss';
.icon-container{
  display: grid;
  place-items: center;
  font-size: 1rem;
  white-space: nowrap;
  margin: 3em 5em;

  .icon-img{
    width: 4em;
    padding: 1em;
  }
}
.link-wrapper{
  .icon-des{
    margin: 0em;
  }
}