@import '../styles/themes.scss';
.panel{
  display: grid;
  place-items: center;
}
.panel-container{
  display: grid;
  place-items: center;
  font-size:1rem;
  box-sizing: content-box;
  margin: 0.5em;

  .panel-title{
    padding:1em;
    font-size:1.2rem;
  }
  .panel-children{
    width: 15em;
    display: none;
  }
  .panel-children.shown{
    display: grid;
    place-items: center;
  }
  .panel-icon{
    width: 0.75em;
    display: grid;
    place-items: center;
  }
  .accordian{
    display: flex;
  }
  .panel-cut{
    margin: 0em 1em 1em 1em;
    width: 120%;
    display: grid;
    place-items: center; 
  }
  hr.panel-cut{
    border-top: 0.05em solid $lightPurple; 
  }
}