@import '../styles/themes.scss';
.sign-up{
  display: grid;
  place-items: center;
  font-size: 1rem;
  margin: 2em;
  white-space: nowrap;
  
  .button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ant-btn-primary, .ant-btn-primary:focus {
      margin: 0.5em;
      background-color: $purple;
      color: white;
      border: none;
      padding: 0.2em 0.5em;
      box-shadow: 0em 0.1em 0.1em $grey;
      border-radius: 1rem;  
      font-size: 2rem;
    }
  }
  .sign-inputs{
    padding:0.5em;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%;
    font-size: 1rem;
  }
}
.login_error_message{
  color: red;
  font-size: 15px;
}
.welcome{
  width:100%;
  text-align: center;
  background: #ebebeb;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}

@media only screen and (max-width: 1024px) {
  .sign-up{
    .sign-inputs{
      display: flex;
      padding:0.5em;
      max-width:100%;
      min-width: 12em;
    }
  }
}